# Copia este archivo a .env.local y completa tus credenciales
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

VITE_R2_ACCOUNT_ID=
VITE_R2_BUCKET_NAME=
VITE_R2_ACCESS_KEY_ID=
VITE_R2_SECRET_ACCESS_KEY=
VITE_R2_PUBLIC_DOMAIN=
